<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <!-- You can override this to have a custom pattern -->
    <property name="SLEUTH_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!--<appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">-->
        <!--<graylogHost>192.168.11.37</graylogHost>-->
        <!--<graylogPort>12201</graylogPort>-->
        <!--<layout class="de.siegmar.logbackgelf.GelfLayout">-->
            <!--<shortPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
                <!--<pattern>${SLEUTH_PATTERN}</pattern>-->
            <!--</shortPatternLayout>-->
            <!--<fullPatternLayout class="ch.qos.logback.classic.PatternLayout">-->
                <!--<pattern>${SLEUTH_PATTERN}</pattern>-->
            <!--</fullPatternLayout>-->
        <!--</layout>-->
    <!--</appender>-->

    <!-- Appender to log to console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${SLEUTH_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <!--<appender-ref ref="GELF" />-->
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>