{{#isPageRequest}}{{pagination-request-adoc}}

{{/isPageRequest}}{{#hasContent}}|===
|{{th-parameter}}|{{th-type}}|{{th-optional}}|{{th-description}}

{{#content}}
|{{path}}
|{{type}}
|{{optional}}
|{{description}}

{{/content}}

|==={{/hasContent}}

{{#isPagingDefault}}{{pagination-request-paging}}

|===
|{{th-paging-parameter}}|{{th-paging-value}}

{{#pagingDefaultContent}}
|{{parameter}}
|{{value}}

{{/pagingDefaultContent}}

|==={{/isPagingDefault}}

{{#noContent}}{{no-params}}{{/noContent}}